[Unit]
Description=uWSGI instance to serve bloom_history_aggregator
After=network.target

[Service]
User=uwsgi
Group=uwsgi
WorkingDirectory=/srv/bloom_history_aggregator
ExecStart=/usr/local/bin/uwsgi --ini /etc/bloom_history_aggregator/uwsgi.ini

[Install]
WantedBy=multi-user.target
